[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
flask-cors = "*"
python-dotenv = "*"
marshmallow = "*"
bcrypt = "*"
flask-jwt-extended = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.13"
